.container {
   background-color: blueviolet;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: "Courier New", Courier, monospace;
   color: white;
}

.container > h1 {
   margin: 0;
}

.container > p > span {
   font-weight: bold;
   color: yellow;
   text-decoration: underline;
}

.secret {
   padding: 5px 10px;
   color: black;
   background-color: greenyellow;
}

.hidden {
   display: none;
}

.see {
   display: block;
}
